pre
	font-weight 600
	margin 0 !important
	border none !important

pre, code
	font-size 14px
	text-shadow none !important

code[class*="language-"], pre[class*="language-"]
	font-family 'Source Code Pro'
	
pre[class*="language-"]
	padding 1em !important
	padding-left 4em !important

.line-numbers .line-numbers-rows
	border-right 0
	
.no-file-chosen
	font-weight 200
	font-size 3em
	user-select none
	cursor default
	
.prism-previewer-color, .prism-previewer-gradient
	margin-left -70px
	margin-top -60px

img
	max-width calc(100% - 40px)
	max-height calc(100% - 40px)