.file-nav
	padding 1em 0 0
	margin 0
	width sidebar-width
	font-size 0.8em
	overflow-y auto
	overflow-x hidden
	font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
	font-weight 700
	
	&, ul
		list-style none
	
	ul
		padding 0
	
	.name
		display block
		cursor pointer
		padding 0.7em 0
		border-left 2px solid transparent
		white-space nowrap
		height 35px
		position relative
		z-index 2
		transition transition-speed
			
		&:before, &:after
			position absolute
			content ''
			display block
			top 0
			right 100%
			width 100px
			height 35px
			z-index -1
			transition transition-speed
		
		&:after
			right auto
			left 100%
	
	li
		border-radius 3px
		user-select none
		padding-left 1.4em
		position relative
		
		i.fa
			margin-right 0.5em
			display inline-block
			width 0.5em
			text-align center