color-header-bg = #00BCD4
color-header-text = #fff

color-body = #fff
color-darker = whitesmoke
color-darkest = #ddd


color-broadcaster-hover = #00BCD4



navbg = #222

directory = #aaa
file = #777

mouseover = #333
selected-bg = #4e4e4e
selected-file = #fff

transition-speed = 0.1s

icon-color = #aaa
icon-hover = #ccc
icon-current = #fff

changed-color = lighten(yellow, 50%)
changed-icon = changed-color
changed-bg = transparent

light-changed-color = lighten(blue, 50%)
light-changed-icon = light-changed-color
light-changed-bg = transparent

sidebar-width = 250px

tab-current-color = #fff
tab-close-icon = #fff
tab-close-hover = #D00
tab-close-glow = #000