<div ng-include="'angular/views/header.html'"></div>

<div class="page-content" ratio="1">
	<div layout="row" justify="between" align="center">
		<h1>Broadcast</h1>
		
		<div>
			<button class="btn btn-icon" ng-class="{'btn-danger': !casting, 'btn-success': casting}" ng-click="toggleCasting()">
				<i class="fa fa-power-off"></i>
				Cast
				<span ng-if="casting">(on)</span>
				<span ng-if="!casting">(off)</span>
			</button>
		</div>
	</div>
	
	<p>User Count: {{ userCount }}</p>
	
	<p>mainFolder: {{ mainFolder }}</p>
	
	<button ng-click="openDialog()">Browse</button>
</div>