<div ng-include="'angular/views/header.html'"></div>

<div ratio="1">
	<div class="page-top" layout="row" justify="between" align="center">
		<h1>Broadcast a folder</h1>
		
		<div>
			<span class="btn btn-disabled">
				<i class="fa fa-eye"></i>
				{{ userCount }}
			</span>
	
			<button class="btn btn-icon" ng-class="{'btn-normal': !casting, 'btn-on': casting}" ng-click="toggleCasting()">
				<span ng-if="casting"><i class="fa fa-fw fa-toggle-on"></i> Casting on</span>
				<span ng-if="!casting"><i class="fa fa-fw fa-toggle-off"></i> Casting off</span>
			</button>
		</div>
	</div>
	
	<div class="page-content">
		
		<div layout="row" align="center" justify="between">
			<div layout="row" align="center">
				<strong>Current folder</strong>
				<span class="current-folder folder-name" ng-show="mainFolder">
					<span class="pre">{{ mainFolder.preReadable }}</span><span class="name">{{ mainFolder.name }}</span>
				</span>
			</div>
			<div>
				<button class="btn btn-normal btn-sm" ng-click="openDialog()">
					<i class="fa fa-folder-open"></i>
					Browse
				</button>
				
				<button class="btn btn-sm btn-normal" ng-click="clear()"><i class="fa fa-times"></i></button>
			</div>
			
		</div>
		
		<hr>
		
		<div layout="row" layout="row" align="center" justify="between">
			<h2>History</h2>
			
			<button class="btn btn-sm btn-normal" ng-click="clearHistory()">Clear</button>
		</div>
		
		<ul class="history">
			<li class="folder" ng-repeat="folder in folders | limitTo: 5" ng-click="setFolder(folder)">
				<span class="folder-name">
					<span class="pre">{{ folder.preReadable }}</span><span class="name">{{ folder.name }}</span>
				</span>
			</li>
		</ul>

	</div>
</div>