<div ng-include="'angular/views/header.html'"></div>

<div ratio="1">
	<div class="page-top" layout="row" justify="between" align="center">
		<h1>Broadcast</h1>
		
		<div>
			<span class="btn">
				<i class="fa fa-eye"></i>
				{{ userCount }}
			</span>
			
			<button class="btn btn-info" ng-click="openDialog()">
				<i class="fa fa-folder-open"></i>
				Browse
			</button>
	
			<button class="btn btn-icon" ng-class="{'btn-normal': !casting, 'btn-success': casting}" ng-click="toggleCasting()">
				<i ng-if="casting" class="fa fa-fw fa-toggle-on"></i>
				<i ng-if="!casting" class="fa fa-fw fa-toggle-off"></i>
				Cast
			</button>
		</div>
	</div>
	
	<div class="page-content">
		
		<div layout="row" align="center" justify="between">
			<div layout="row" align="center">
				<strong ng-show="mainFolder">Current folder</strong>
				<span class="current-folder folder-name" ng-show="mainFolder">
					<span class="pre">{{ mainFolder.preReadable }}</span><span class="name">{{ mainFolder.name }}</span>
				</span>
			</div>
			<button class="btn btn-sm btn-warning" ng-click="clear()"><i class="fa fa-times"></i></button>
		</div>
		
		<hr>
		
		<div layout="row" layout="row" align="center" justify="between">
			<h2>History</h2>
			
			<button class="btn btn-sm btn-warning" ng-click="clearHistory()">Clear</button>
		</div>
		
		<ul class="history">
			<li class="folder" ng-repeat="folder in folders" ng-click="setFolder(folder)">
				<span class="folder-name">
					<span class="pre">{{ folder.preReadable }}</span><span class="name">{{ folder.name }}</span>
				</span>
			</li>
		</ul>

	</div>
</div>