<header class="site-header" layout="row" justify="between" align="center" ng-controller="HeaderCtrl">
	<div layout="row" align="center">
		<h1><i class="fa fa-code fa-fw"></i>CodeCast</h1>
		<!-- <span class="beta">Beta</span> -->
		<span class="version">{{ package.json.version }}</span>
	</div>
	
	<nav>
		<ul layout="row">
			<li>
				<a href="#/scan" ng-class="{current: current == '/scan'}">
					<i class="fa fa-fw fa-feed"></i>
					<span>View</span>
				</a>
			</li>
			<li>
				<a href="#/broadcast" ng-class="{current: current == '/broadcast'}">
					<!-- <i class="fa fa-fw fa-bullhorn"></i> -->
					<i ng-if="store.casting" class="fa fa-fw fa-toggle-on"></i>
					<i ng-if="!store.casting" class="fa fa-fw fa-toggle-off"></i>
					<span>Broadcast</span>
				</a>
			</li>
			<li>
				<a href="#/settings" ng-class="{current: current == '/settings'}">
					<i class="fa fa-fw fa-cog"></i>
					<span>Settings</span>
				</a>
			</li>
		</ul>
	</nav>
</header>