<div ng-include="'angular/views/header.html'"></div>

<div ratio="1">
	<div class="page-top" layout="row" align="center" justify="between">
		<h1>Settings</h1>
		
		<div>
			<button class="btn btn-icon" ng-click="save()" ng-class="{'btn-primary': !saved, 'btn-success': saved}">
				<i class="fa fa-floppy-o fa-fw" ng-if="!saved"></i>
				<i class="fa fa-check fa-fw" ng-if="saved"></i>
				Save
			</button>
		</div>
	</div>
	
	<div class="page-content">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" ng-model="db.username" id="username" class="form-control">
		</div>
		
		<p><strong>Version: {{ package.version }}</strong></p>
	</div>
</div>