.btn
	outline 0 !important
	border 0
	
	&.btn-icon
		
		i.fa
			margin-right 0.5em
			
	&.btn-icon-right
		
		i.fa
			margin-left 0.5em
	
	&.btn-normal
		color #000
		background color-darkest
		border-color color-darkest
		
		&:hover
			color #aaa
	
	&.btn-disabled
		cursor default
		
		&:active
			box-shadow none !important
	
	
	&.btn-scan
		position relative
		overflow hidden
		
		& > *
			z-index 2
			position relative
		
		.scan-progress
			position absolute
			top 0
			left 0
			height 100%
			transition width 0.2s
			z-index 1