.btn
	outline 0 !important
	
	&.btn-icon
		
		i.fa
			margin-right 0.5em
			
	&.btn-icon-right
		
		i.fa
			margin-left 0.5em
	
	&.btn-normal
		color #000
		background color-darkest
		border-color color-darkest
		
		&:hover
			color #aaa
	
	&.btn-disabled
		cursor default
		
		&:active
			box-shadow none !important