.page-content
	padding 1.5em
	margin-top 1em
	user-select none
	cursor default
	
.broadcasters
	padding 0
	margin 0
	list-style none
	
	.username
		font-weight bold
	
	.folder
		opacity 0.5
		font-size 0.8em
		
	.ip
		opacity 0.5
		font-size 1.1em
	
	a
		color inherit
		padding 1em
		border-radius 3px
		margin 0 0 0.5em
		
		&:nth-of-type(2n-1)
			background #eee
		
		&:hover
			text-decoration none
			background color-broadcaster-hover
			color #fff
			

.history
	padding 0
	list-style none
	
	.folder
		padding 1em
		border-radius 3px
		margin 0 0 0.5em
		cursor pointer
		background #eee
		
		&:hover
			text-decoration none
			background color-broadcaster-hover
			color #fff
			