.color-default
	this-color = color-header-bg
	
	.site-header,
	.broadcasters a:hover,
	.history .folder:hover,
	.btn.btn-normal:hover,
	.btn.btn-on,
	.btn-scan .scan-progress
		background this-color
		border-color this-color
		color #fff


.color-orange
	this-color = orange
	
	.site-header,
	.broadcasters a:hover,
	.history .folder:hover,
	.btn.btn-normal:hover,
	.btn.btn-on,
	.btn-scan .scan-progress
		background this-color
		border-color this-color
		color #fff


.color-purple
	this-color = #9C27B0
	
	.site-header,
	.broadcasters a:hover,
	.history .folder:hover,
	.btn.btn-normal:hover,
	.btn.btn-on,
	.btn-scan .scan-progress
		background this-color
		border-color this-color
		color #fff


.color-green
	this-color = #4CAF50
	
	.site-header,
	.broadcasters a:hover,
	.history .folder:hover,
	.btn.btn-normal:hover,
	.btn.btn-on,
	.btn-scan .scan-progress
		background this-color
		border-color this-color
		color #fff


.color-pink
	this-color = #E91E63
	
	.site-header,
	.broadcasters a:hover,
	.history .folder:hover,
	.btn.btn-normal:hover,
	.btn.btn-on,
	.btn-scan .scan-progress
		background this-color
		border-color this-color
		color #fff


.color-red
	this-color = #F44336
	
	.site-header,
	.broadcasters a:hover,
	.history .folder:hover,
	.btn.btn-normal:hover,
	.btn.btn-on,
	.btn-scan .scan-progress
		background this-color
		border-color this-color
		color #fff
