header
	color color-header-text
	background color-header-bg
	padding 0 0.35em 0 5em
	min-height 40px
	max-height 40px
	height 40px
	cursor default
	user-select none
	-webkit-app-region drag
	
	h1
		margin 0
		font-size 0.9em
		pointer-events none